* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-sizing: border-box;
    }

body {
    width:100%
    padding: 0px;
    margin: 15px;
     }

h1 {
    font-size: 175%;
    text-align: center;
    }

section {
    background-color: #e1eef6;
    border: 1px solid #000000;
    margin-bottom: 15px;
    }

section p {
    padding: 40px 10px 0px 10px;
    }

.title {
 	border-bottom: 1px solid black;
    border-left: 1px solid black;
 	font-size: 125%;
    float: right;
    width: 150px;
    text-align: center
    }

#chicken .title {
	background-color: #fcbe32;
    color: #161616;}

#beef .title {
    background-color: #004e66;
    color: #e8e8e8;}

#sushi .title {
  background-color: #ff5f2e;
    color: #161616;}


 #chicken .texto, #beef .texto, #sushi .texto {
 	font-size: 1em;
 	background-color: #e1eef6; 
 	position: relative;
 	border:1px solid black;
    }

@media (min-width: 992px) {
    #chicken, #beef, #sushi {
		display: inline-block;
		width: 32%;
        margin-left: 2px;} 
    }

@media (min-width: 768px) and (max-width: 991px) {
    
   #chicken, #beef, #sushi {
		display: inline-block;
    } 

	#chicken, #beef {
		width: 49.7%;
	}

	#sushi {
		width: 100%!important;}
    }

@media (max-width: 767px) {
	#chicken, #beef, #sushi {
		display: inline-block;
		width: 100%;} 
    }